*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.imagem{
    margin-top: -600px;
    margin-left: 200px;
    rotate: 90deg;
    position: fixed;
}

.imagem img{
    zoom: 1;
    width: 900px;
    height: fit-content;
}

.cor{
    background: linear-gradient(90deg, rgba(0, 2, 124, 0.5), rgba(148, 81, 255, 0.5));
    width: 100vw;
    margin-top: -10px;
    height: 800px;
    position: fixed;
}

nav{
    margin-top: 10px;
    position: relative;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav div{
    background-color: rgb(54, 54, 54);
    border-radius: 50px;
    text-align: center;
    display: flex;
    width: fit-content;
    padding: 0.5em;
    line-height: 30px;
}

nav div input{
    text-decoration: none;
    border-radius: 20px;
    height: 1.5em;
    border: none;
    width: 100%;
    padding: 0 10px 0 10px;
    font-size: 1.5em;
}

nav div i{
    color: rgb(140, 0, 255);
    text-decoration: none;
    border-radius: 20px;
    height: 1.5em;
    border: none;
    width: 100%;
    padding: 0 10px 0 10px;
    font-size: 1.5em;
}

nav div a{
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Neue Montreal";
}

.header{
    position: absolute;
    margin: 200px 30px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
}

.header .h1{
    color: rgb(233, 233, 233);
    position: relative;
    font-family: "Monoton";
    font-size: 8vw;
    line-height: 1.125;
}


.corpo{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2000px;
    text-align: center;
    margin: 600px auto;
}

.bloco{
    margin: 10px;
    margin-top: 10px;
    width: 90%;
    height: 100px;
}

.bloco1{
    margin: -250px auto;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 300px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.288);
    border-radius: 20px;
}