*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.imagem{
    margin-top: -600px;
    margin-left: 200px;
    rotate: 90deg;
    position: fixed;
}

.imagem img{
    zoom: 1;
    width: 900px;
    height: 100%;
}

.cor{
    background: linear-gradient(90deg, rgba(0, 2, 102, 0.5), rgba(142, 3, 255, 0.5));
    width: 100vw;
    margin-top: -10px;
    height: 800px;
    position: fixed;
}

nav{
    background-color: rgba(0, 0, 0, 0.575);
    position: relative;
    width: fit-content;
    padding-top: 15px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
}

nav div{
    border-radius: 50px;
    text-align: center;
    display: flex;
    width: fit-content;
    padding: 0.5em;
    line-height: 30px;
}

nav div input{
    text-decoration: none;
    border-radius: 20px;
    height: 1.8em;
    border: none;
    width: 100%;
    padding: 0 10px 0 10px;
    font-size: 1.5em;
}

nav div button{
    width: 4em;
    color: aliceblue;
    border-radius: 20px;
    border: 0px;
    margin: 0px 10px;
    background-color: rgb(168, 0, 78);
}

nav div i{
    color: rgb(140, 0, 255);
    text-decoration: none;
    width: 100%;
    font-size: 1.2em;
}

nav div a{
    border-radius: 20px;
    background-color: rgba(47, 46, 58, 0);
    padding: 5px 10px 0px 10px;
    font-size: 2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Neue Montreal";
}

.header{
    position: absolute;
    margin: 200px 30px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
}

.header .h1{
    color: rgb(233, 233, 233);
    position: relative;
    font-family: "Monoton";
    font-size: 8vw;
    line-height: 1.125;
}


.corpo{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2000px;
    text-align: center;
    margin: 600px auto;
}

.suporte{
    margin: 10px;
    margin-top: 10px;
    width: 90%;
    height: 100px;
}

#bloco1{
    margin: -250px auto;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 300px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.288);
    border-radius: 20px;
}


.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
}

.bar{
    margin-top: -10px;
    width: 100vw;
    height: 100vh;
    background: #1a1a1a;
}

.counter{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1000;
    color: aliceblue;
    font-size: 900%;
    padding: 0.2em 0.4em;
    font-family: "Monoton";
}
